@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
*::-webkit-scrollbar {
    display: none;
}
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #09090b;
}
.con{
    height: 600px;
    width: 650px;
    padding: 50px;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
h1{
    color: #fff;
}
p{
    color: #9d9d9d;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    cursor: pointer;
  }
  
 button:hover,:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }
  h2{
    color: #fff;
    margin-top: 10px;
  }
  li{
    color: #017cf09f;
    font-weight: bold;
    margin-left: 40px;
  }